*.json
!tsconfig.json
!package.json

/data
/logs
/plugin/dist
/plugin/oldSrc
/dumps

config.yml

/node_modules

device.json.bak
session.token

/prisma

!prisma/schema.prisma
!prisma/.env

*.log
plugin/src/main.ts
plugin/src/test.ts
plugin/src/pixiv_filter.ts